<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><i class="material-icons" style="font-size: 35px;" routerLink="/home">shop</i></span>
    <span class="example-spacer">NinjaKart</span>
    
    <button mat-button routerLink="/home"><i class="material-icons">home</i><span style="padding-left:5px;padding-top: 5px;">Home</span></button>
    <button mat-button routerLink="/home" ><i class="material-icons">shopping_basket</i><span style="padding-left:5px;padding-top: 5px;">Cart</span></button>
    <!-- matBadge="8" matBadgePosition="after" matBadgeColor="accent" -->
    <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons">menu</i></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/login">Login</button>
      <button mat-menu-item routerLink="/home">Your Account</button>
      <button mat-menu-item routerLink="/home">Your Orders</button>
      <button mat-menu-item routerLink="/admin">Admin Dashboard</button>
      <button mat-menu-item routerLink="/sell">Seller Dashboard</button>
      <button mat-menu-item (click)="logout()" routerLink="/login">Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
      Copyright © Debojroy 2019
  </mat-toolbar-row>
</mat-toolbar> -->