.masonry-item{
  // margin-bottom: 20px;
  background-color: #f1f1f1;
  background-size: cover;
  width: 31.333%;
  margin: 1%;
  // display: grid;
  // grid-template-columns: 50% auto;
}

.search-product{
  font-size: x-large;
  color:#222;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}