<div class="container breadcrumb">
  <div class="filter-panel col-md-4">
    <div class="row">
      <div class="col-md-12">
        <div fxFlex class="product-card-header">
          <mat-card>
            <!-- <mat-card-title>Categories</mat-card-title> -->
            <mat-card-subtitle style="font-size: 25px;text-transform: capitalize;">
              {{productName}}
            </mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </div>
    <mat-card class="product-card-header" *ngIf="productImage!=''">
      <div class="prod-detail-image">
        <img class="prod-detail-image" [src]="productImage" alt="Photo">
      </div>
      <mat-card-actions>
        <!-- <button mat-button><i class="material-icons">shopping_cart</i></button> -->
        <button mat-button><i class="material-icons">zoom_in</i></button>
        <button mat-button><i class="material-icons">zoom_out</i></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-8">
    <div class="row">
        <div class="col-md-12">
      <div class="col-md-6 product-card-header">
        <mat-card class="product-body">
          <!-- <mat-card-title>Categories</mat-card-title> -->
          <mat-card-subtitle>
            Description
          </mat-card-subtitle>
          <div>
              <ul>
                <li>{{productDescription}}</li>
                <li>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                  previewing layouts and visual mockups.</li>
                <li>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                  previewing layouts and visual mockups.</li>
              </ul>
            </div>
        </mat-card>

      </div>
      <div class="col-md-6 product-card-header">
        <mat-card class="product-body">
          <!-- <mat-card-title>Categories</mat-card-title> -->
          <mat-card-subtitle>
            <p>Product Purchase Options/ Delivery Options</p>
          </mat-card-subtitle>
          <div>
              <ul>
                <li>Delivery Location</li>
                <li>Payment Mode</li>
                <li>EMI Options</li>
              </ul>
            </div>
        </mat-card>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div fxFlex class="product-card-header">
          <mat-card>
            <!-- <mat-card-title>Categories</mat-card-title> -->
            <mat-card-subtitle>
              Reviews
            </mat-card-subtitle>
            <div>
              <ul>
                <li>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                  previewing layouts and visual mockups.</li>
                <li>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                  previewing layouts and visual mockups.</li>
              </ul>
            </div>

          </mat-card>
        </div>

      </div>
    </div>
  </div>
</div>