    <div class="filter-panel col-md-3">
        <div class="row">
            <div class="col-md-12">
              <div fxFlex class="product-card-header">
                <mat-card>
                    <!-- <mat-card-title>Categories</mat-card-title> -->
                    <mat-card-subtitle>
                        {{productName}}
                    </mat-card-subtitle>
                </mat-card>
              </div>
            </div>
          </div>
        <mat-card class="product-card-header">
            <img mat-card-image src="https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1V2VvP0Bc_hsTGx3rtlMZDDBYYtBwuTQ-%2Fgridlist-illos-01.png" alt="Photo">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button mat-button><i class="material-icons">shopping_cart</i></button> -->
              <button mat-button><i class="material-icons">zoom_in</i></button>
              <button mat-button><i class="material-icons">zoom_out</i></button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-md-9 breadcrumb">
      <div class="row">
        <div class="col-md-12">
          <div fxFlex class="product-card-header">
            <mat-card>
                <!-- <mat-card-title>Categories</mat-card-title> -->
                <mat-card-subtitle>
                    Offers!!
                </mat-card-subtitle>
            </mat-card>
          </div>
        </div>
      </div>
        <div class="row">
                <div class="col-md-6 product-card-header">
                  <mat-card class="product-body">
                      <!-- <mat-card-title>Categories</mat-card-title> -->
                      <mat-card-subtitle>
                          {{productDescription}}
                      </mat-card-subtitle>
                  </mat-card>
                </div>
                <div class="col-md-6 product-card-header">
                    <mat-card class="product-body">
                        <!-- <mat-card-title>Categories</mat-card-title> -->
                        <mat-card-subtitle>
                            <p>Product Purchase Options/ Delivery Options</p>
                        </mat-card-subtitle>
                    </mat-card>
                  </div>  
        </div>
        <div class="row">
            <div class="col-md-12">
              <div fxFlex class="product-card-header">
                <mat-card>
                    <!-- <mat-card-title>Categories</mat-card-title> -->
                    <mat-card-subtitle>
                        Reviews
                    </mat-card-subtitle>
                </mat-card>
              </div>
            </div>
          </div>
      </div>
      
        <!-- <div fxFlex>   
          <div fxLayout="row">
              <div fxFlex>
                  <mat-paginator [length]="tableLength"
                    [pageSize]="tablePageSize"
                    [pageSizeOptions]="tablePageSizeOptions"
                    (page)="pageEvent = $event">
                  </mat-paginator>
              </div>
            </div>
        </div> -->